@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
$lato: "lato";
$colorf7f7f7: #f7f7f7;

body {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  .content {
    flex: 1 1 auto;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  background: url("/img/header/layer1.png") center no-repeat;
  height: 800px;
  .header__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    align-items: center;
    margin-right: 40px;
  }
  .header__link {
    flex: 0 0 15%;
    font-weight: 700;
    text-align: center;
    font-size: 13px;
    font-family: $lato;
    color: rgb(77, 73, 89);
    text-transform: uppercase;
    line-height: 1.2;
    li {
      padding: 20px;
    }
    a {
      text-decoration: none;
    }
  }
}
/*Вёрстка секции generation*/
.generation {
  background-color: $colorf7f7f7;
  height: 470px;
  text-align: center;

  .generation__body {
    padding: 115px 0;
  }

  .generation__title {
    padding: 25px;
  }

  .generation__text {
    padding: 0 85px;
    padding-bottom: 30px;
  }
}

/*Вёрстка секции vintageoliva*/

.vintageoliva {
  .container {
    max-width: 1600px;
  }
  height: 600px;
  overflow: hidden;
}

.vintageoliva__row {
  display: flex;
  // align-items: flex-start;
  .vintageoliva__image {
    display: flex;
    flex-grow: 1;
    background: url("/img/vintageoliva/logo.png") center no-repeat,
      url("/img/vintageoliva/10.png") no-repeat;
  }
  .vintageoliva__item {
    flex-basis: 533px;
  }
}
/*Вёрстка секции laboriosa*/

.laboriosa {
  height: 600px;
  overflow: hidden;
  .container {
    max-width: 1600px;
  }
  .laboriosa__row {
    display: flex;
  }
  .laboriosa__item {
    flex-basis: 533px;
  }
  .item {
    padding-bottom: 95px;
  }
  .laboriosa__image {
    flex-grow: 1;
    background: url("/img/laboriosa/1.png") center no-repeat,
      url("/img/laboriosa/Layer12.png") no-repeat;
  }
}

/*Вёрстка секции retrobike*/
.retrobike {
  height: 600px;
  overflow: hidden;
  .container {
    max-width: 1600px;
  }
  .retrobike__row {
    display: flex;
  }
  .retrobike__column {
    flex: 0 0 33.333%;
    display: flex;
  }
  .item-about__image img {
    width: 100%;
  }

  .retrobike__image,
  .retrobike__image1 {
    flex-grow: 1;
  }
  .retrobike__image {
    background: url("/img/retrobike/Logo.png") center no-repeat,
      url("/img/retrobike/Layer15.png") no-repeat;
  }
  .retrobike__image1 {
    background: url("/img/retrobike/Layer14.png") no-repeat;
  }
}

/*Вёрстка секции aodNewYork*/
.aodNewYork {
  text-align: center;
  .aodNewYork__logo {
    padding-top: 125px;
    padding-bottom: 32px;
  }
  .aodNewYork__title {
    font-size: 18px;
    font-family: $lato;
    color: rgb(53, 55, 56);
    line-height: 1.2;
    font-weight: 300;

    text-align: center;
    padding-bottom: 8px;
    span {
      color: rgb(132, 135, 137);
      &:nth-child(1) {
        padding: 0 8px;
      }
    }
  }

  .aodNewYork__text {
    font-size: 24px;
    font-family: $lato;
    color: rgb(132, 135, 137);
    line-height: 1.417;
    text-align: center;
    padding-bottom: 100px;

    P {
      font-weight: 900;
    }
  }
  .aodNewYork__slaider {
    display: inline-block;
    padding-bottom: 70px;
    .aodNewYork__o {
      display: inline-block;
      margin-right: 3px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #000;
      &:nth-child(1) {
        background: #a9afb3;
        border: 2px solid #a9afb3;
      }
      &:nth-child(2) {
        background: #f7f7f7;
        border: 1px solid #a9afb3;
      }
      &:nth-child(3) {
        background: #f7f7f7;
        border: 1px solid #a9afb3;
      }
    }
  }
}

/*Вёрстка секции shopnow*/

.shopnow {
  height: 530px;
  overflow: hidden;
  .container {
    max-width: 1600px;
  }
  img {
    margin: -3px 0;
  }
  .shopnow__row {
    display: flex;
  }
  .shopnow__column {
    flex: 0 0 33.333%;
    display: flex;
  }
  .item__img {
    display: flex;
  }

  .item-shopnow__img {
    margin-left: -1px;
  }
  .shopnow__image6 {
    background: url("/img/shopnow/9.png") center no-repeat,
      url("/img/shopnow/10.png") center no-repeat;
  }
}

@media (max-width: 1000px) {
  .shopnow {
    display: flex;
    height: 1590px;
  }
  .shopnow__column {
    // flex: 0 0 50%;
    display: flex;
    // flex-wrap: wrap;
  }
  .shopnow__row {
    display: flex;
    flex-direction: column;
  }
}

/*Вёрстка секции discover*/

.discover {
  background: #000;
  .container {
    max-width: 1600px;
  }
  .discover__title {
    font-size: 14px;
    font-family: $lato;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    padding: 15px 30px 15px;
    border: 1px solid #94979a;
    width: 300px;
    margin: 75px auto;
  }
}

/*Вёрстка секции StayOnTheSaddle*/
.StayOnTheSaddle {
  .container {
    max-width: 1600px;
  }
  .StayOnTheSaddle__body {
    width: 534px;
    margin: 0 auto;
    text-align: center;
    padding: 110px 0;
  }
  .StayOnTheSaddle__text {
    font-size: 24px;
    font-family: $lato;
    font-weight: normal;
    color: rgb(132, 135, 137);
    line-height: 1.417;
    text-align: center;
    padding: 35px 0;
  }
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .input {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(211, 215, 217);
    background-color: rgb(255, 255, 255);
    width: 404px;
    height: 69px;
    padding-left: 30px;
    font-size: 20px;
  }
  .button {
    background-color: rgb(100, 194, 158);
    width: 126px;
    height: 70px;
    width: 200px;
    text-transform: uppercase;
    margin-left: 8px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
}

/*вёрстка общих блоков */
.item {
  text-align: center;
  padding: 70px 32px 100px;
  position: relative;
  .title {
    padding: 18px 0 14px;
    font-size: 18px;
    font-family: $lato;
    color: rgb(53, 55, 56);
    text-transform: uppercase;
    line-height: 1.2;
  }
  .text {
    font-size: 16px;
    font-family: $lato;
    color: rgb(132, 135, 137);
    line-height: 1.875;
    text-align: justify;
    word-spacing: 4px;
    &::after {
      content: "";
      height: 1px;
      width: 50px;
      background-color: #d7d7d7;
      position: absolute;
      left: 45%;
      bottom: 55px;
    }
  }
}

/*Вёрстка footer*/
.footer {
  height: 268px;
  background-color: #f7f7f7;
}

.footer__row {
  display: flex;
  .footer__column {
    flex: 0 0 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 268px;
  }
  .footer__column_1 {
    flex-direction: column;
  }

  .footer__item {
    display: flex;
  }
  .footer__item_1 {
    display: flex;
    flex-direction: column;
  }
  .item__title,
  .item__subtitle {
    font-size: 16px;
    font-family: "Myriad Pro";
    color: rgb(132, 135, 137);
    line-height: 1.117;
    text-align: left;
  }

  .item__title {
    font-weight: 600;
    display: block;
  }
  .item__image {
    margin: 0 8px;
  }
  .item__subtitle_1 {
    padding-top: 7px;
  }
  p {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .footer {
    display: flex;
  }

  .footer__row {
    flex-direction: column;
  }
  .footer__item {
    height: 70px;
    justify-content: center;
    align-items: center;
  }
  .item__subtitle {
    align-items: right;
  }
  .footer__item_1 {
    margin-top: 20px;
    height: 90px;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

// .block {
//   text-align: center;
//   border: none;
// }

// .block__row {
//   border: 20px solid #ece89d;
//   margin: 0 0 20px 0;
//   display: flex;
//   align-items: center;
// }

// .block__column {
//   border: 20px solid #5e5373;
//   flex: 0 0 33.333%;
// }

// .block__item {
//   background-color: #18b5a4;
//   padding: 30px;
//   font-size: 55px;
//   color: #fff;
//   font-weight: 700;
// }

// .item {
//   background-color: #18b5a4;
//   padding: 60px;
//   font-size: 55px;
//   color: #fff;
//   font-weight: 700;
// }
